@page "/Ledger"
@inherits LedgerBase
@using RentalPropertyManagement.Components

@if (PropertySet)
{
    <div class="top-row px-4">
        <h2 style="font-weight: bold;height:3.5rem;color:whitesmoke;text-align:left;padding-top:1rem;">@Property.ShortName</h2>
        <a href="/" style="font-size:14px;text-decoration:none">Change</a>
    </div>
    <div class="content px-4">
        <div class="modal-body row">
            <div class="col-xl-10 col-lg-12">
                
                    <BSCard>
                        <BSCard CardType="CardType.Header" HeadingSize="HeadingSize.H3">
                            <div class="d-flex justify-content-center">
                                Ledger - @Property.ShortName
                            </div>
                        </BSCard>
                        <BSCard CardType="CardType.Body">
                            <div class="row">
                                <LedgerGridComponent ExpenseItems="ExpenseItems" IncomeByRooms="IncomeByRooms"></LedgerGridComponent>
                            </div>
                        </BSCard>
                    </BSCard>
                
            </div>
        </div>
    </div>
}



