USE [RentalPropertyManagement]
GO
/****** Object:  Table [dbo].[GeneralLedger]    Script Date: 2/17/2021 6:47:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [varchar](50) NULL,
	[DateOfExpense] [datetime] NULL,
	[Category] [varchar](50) NULL,
	[Amount] [money] NULL,
	[Description] [varchar](500) NULL,
	[LastUpdated] [datetime] NULL,
	[PropertyId] [int] NOT NULL,
 CONSTRAINT [PK__GeneralL__3214EC27DFA77B57] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GeneralLedger] ON 

INSERT [dbo].[GeneralLedger] ([ID], [Vendor], [DateOfExpense], [Category], [Amount], [Description], [LastUpdated], [PropertyId]) VALUES (1, N'Property Manager', CAST(N'2020-11-30T18:00:00.000' AS DateTime), N'Property Manager', 190.0000, N'', CAST(N'2020-11-20T16:21:11.120' AS DateTime), 1)
INSERT [dbo].[GeneralLedger] ([ID], [Vendor], [DateOfExpense], [Category], [Amount], [Description], [LastUpdated], [PropertyId]) VALUES (2, N'Utilities', CAST(N'2020-11-30T18:00:00.000' AS DateTime), N'Utilities', 280.0000, N'Test', CAST(N'2020-09-24T17:32:26.357' AS DateTime), 1)
INSERT [dbo].[GeneralLedger] ([ID], [Vendor], [DateOfExpense], [Category], [Amount], [Description], [LastUpdated], [PropertyId]) VALUES (3, N'Taxes', CAST(N'2020-11-30T18:00:00.000' AS DateTime), N'Taxes', 351.0000, N'Taxes', CAST(N'2020-11-20T17:21:17.197' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[GeneralLedger] OFF
GO
ALTER TABLE [dbo].[GeneralLedger] ADD  CONSTRAINT [myConstraint]  DEFAULT ((1)) FOR [PropertyId]
GO
