USE [RentalPropertyManagement]
GO
/****** Object:  Table [dbo].[GeneralLedger]    Script Date: 9/25/2020 10:44:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralLedger](
	[ID] INT IDENTITY(1,1) Primary Key,
	[Vendor] [varchar](50) NULL,
	[DateOfExpense] [datetime] NULL,
	[Category] [varchar](50) NULL,
	[Amount] [money] NULL,
	[Description] [varchar](500) NULL,
	[LastUpdated] [datetime] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[GeneralLedger] ([Vendor], [DateOfExpense], [Category], [Amount], [Description], [LastUpdated]) VALUES (N'Property Manager', CAST(N'2020-11-30T18:00:00.000' AS DateTime), N'Property Manager', 180.0000, N'Test', CAST(N'2020-09-24T17:32:26.353' AS DateTime))
INSERT [dbo].[GeneralLedger] ([Vendor], [DateOfExpense], [Category], [Amount], [Description], [LastUpdated]) VALUES (N'Utilities', CAST(N'2020-11-30T18:00:00.000' AS DateTime), N'Utilities', 280.0000, N'Test', CAST(N'2020-09-24T17:32:26.357' AS DateTime))
INSERT [dbo].[GeneralLedger] ([Vendor], [DateOfExpense], [Category], [Amount], [Description], [LastUpdated]) VALUES (N'Taxes', CAST(N'2020-11-30T18:00:00.000' AS DateTime), N'Taxes', 350.0000, N'Taxes', CAST(N'2020-09-24T17:32:26.357' AS DateTime))
